

body{
    background-color: #590d22;
    background-image: url(pnghive.png);
    background-blend-mode: lighten;
    color: #ffff ;
    padding: 10px;
    margin: 0;
    overflow-x: hidden;
}

h1,h2{

    font-family: "Love Light", cursive;
    font-weight: 400;
    font-style: normal;
      
    padding-left: 10px;
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;

}

.hidden{
    opacity: 0;
    transition: all 1.5s;
    transform: translateX(-100%);
}

.show{
    opacity: 1;

    transform: translateX(0%);
    text-shadow: 0 0 5px #ffccd5;

}

